*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	position: relative;
}

.container {
	display: flex;
	// align-items: center;
	justify-content: center;
	flex-direction: row;
}

#first {
	background-color: blue;
}