*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

*, *:before, *:after {
	box-sizing: inherit;
}

/* img {
	max-width: 100%;
} */

body {
	position: relative;
	background-color: #844366;
	height: 100vh;
  display: flex;
	align-items: center;
	justify-content: center;
}

.container {
	/* padding-top: 30px; */
	margin: 20px auto;
	background-color: rgb(199, 146, 146);
	padding: 15px 35px;
	border-radius: 20px;
	width: 500px;
}

form.from {
	display: flex;
	justify-content: space-around;
  align-items: center;

}

form.to {
	display: flex;
	justify-content: space-around;
  align-items: center;
}

  #tofrom2{
	display: flex;
	justify-content: space-around;
  align-items: center;
}

.image1 {
	max-width: 70px;
}

h3 {
  color: #970f05;
	margin-left: 72px;
	margin-bottom: 0.5em;
	font-family: sans-serif;
	right: 20px;
}


/* .title {
	display: flex;
  justify-content: space-around;
  font-style: italic;
	letter-spacing: 6px;
} */
