*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

*, *:before, *:after {
	box-sizing: inherit;
}

/* img {
	max-width: 100%;
} */

body {
	position: relative;
	background-color: #844366;
}

.container {
	position: relative;
	/* padding-top: 30px; */
	margin: 20px auto;
	background-color: rgb(199, 146, 146);
	padding: 15px 35px;
	border-radius: 20px;
	width: 490px;
}

form.from {
	display: flex;
	justify-content: space-around;
  align-items: center;

}

form.to {
	display: flex;
	justify-content: space-around;
  align-items: center;
}

  #tofrom2{
	display: flex;
	justify-content: space-around;
  align-items: center;
}

.image1 {
	max-width: 70px;
}

.title {
	display: flex;
  justify-content: space-around;
  font-style: italic;
	letter-spacing: 6px;
}
