*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	position: relative;
	background-color: #844366;
}

.container {
	height: 100vh;
	margin: 20px auto;
	background-color: rgb(199, 146, 146);
	padding: 15px 35px;
	border-radius: 1.5em;
	width: 500px;
}


.from {
	width: 10em;
	border: .3rem solid brown;
	border-radius: .5em;
}

.select {
	margin-left: 1rem;
}


.forms {
	display: grid;
	align-items: center;
	justify-content: center;
	margin-top: 6em;
	border: 5px solid rgb(133, 47, 47);
	padding-top: 2.5em;
}


.image1 {
	max-width: 20%;
}

.container h3 {
  color: #970f05;
	margin-top: 5em;
	font-family: sans-serif;
	display: flex;
	justify-content: center;
	font-size: 2em;
}


.title {
	display: flex;
  justify-content: space-between;
  font-style: italic;
	letter-spacing: 1em;
	margin-top: 11em;
}

label for {
	right: 2rem;
}
